.header{
  max-width: 880px;
  height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 950px){
  .header {
    padding:0 27px;
  }
}

@media screen and (max-width: 650px){
  .header {
    height: 56px;
    margin: 0 auto;
  }
}