.popup__title{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 330px;
  height: 23px;
  margin: 34px 36px 0;
  padding: 0;
}

@media screen and (max-width: 550px){
  .popup__title{
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 0;
  }
}