.profile{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 20px;
}

@media screen and (max-width: 950px){
  .profile {
    margin: 0 19px 36px 19px;
    gap: 0;
  }
}

@media screen and (max-width: 700px){
  .profile {
    flex-direction: column;
  }
}