.register__element{
  background-color: #000;
  color: #CCCCCC;
  min-width: 358px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.register__element:focus{
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}